@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* dark 2 */
.text-dark{
    color: rgb(66, 66, 66)
}
/* dark 3 */
.text-light-dark{
    color: rgb(114, 114, 114);
}
.text-primary{
    color: rgba(255, 144, 14, 1.00);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    color: white;
    background-color: rgb(255, 144, 14);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.section-title{
    font-weight: 700;
    font-size: 3rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
/* header styles */


/* navbar styles */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-items{
    list-style: none;
    margin-left: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-contents{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}

/* main styles  */
/* features styles */

.features{
    align-items: center;
}
.img-container-teams{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
    
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quik{
    font-weight: 600;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link{
        flex-direction: column;
    }
    .img-container-teams{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        flex-direction: column;
    }
    .our-features{
        margin: 20px;
}
}

/* responsive media query for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
}
}